

html,body {
	height: 100%;
	background-color: #000000;
	margin: 0px;
	padding: 0px;
	overflow-y: hidden;
} 

.barreMenu {
	height: 5%;
}

.logo {
	color: #FFFFFF;
	padding-top: 20px;
}

.iconBar {
	position:fixed;
	width:500px;
	top:0px;
	left: 55%;
	margin-left:-250px;
	
}



.iconBar li {
	display: inline;
	margin: 10px;
	list-style-type: none;
}

.images {
	height:15px;
	width:15px;
	opacity: 0.7;
	color: white;
	padding-top: 10px;
	}

.images:hover {
	opacity: 1.0;
}

.divOptions {
	position:fixed;
	padding-top: 5px;
	height: 50%;
	width: 100%;
}